@tailwind base;

.dark {
  color-scheme: dark;
}

html {
  height: 100%;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  scroll-behavior: smooth;
  scroll-padding-top: 300px; /* height of your navbar */
}

body {
  min-height: 100%;
}

abbr[title] {
  text-decoration: none;
}

.active-scroll-spy {
  background-color: #006988;
  font-weight: bolder;
  color: #fff;
  padding: 10px;
  border-radius: 15px;
  transition: all 0.5s;
}
.ss-item {
  margin: 10px;
}
