@import 'base.css';
@import 'font.css';

/*! purgecss start ignore */
@import 'bar-of-progress.css';
/*! purgecss end ignore */
@import 'tailwindcss/components';
@import 'utilities.css';


@tailwind components;
@import 'tailwindcss/components';

@layer components {}


.hash-span {
    margin-top: -100px;
    padding-bottom: 100px;
    display: block;
}
